* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 180vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #727272;
        /*position: fixed;*/
        /*overflow: hidden;*/
    }
    .boxes {
        position: absolute;
    }
    .title {
        position: absolute;
        font-family: 'Poppins';
        font-size: 7vw;
        color: #fff;
        font-weight: bold;
        left: 32vw;
        top: 10vw;
    }
    .firstbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 45vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
    .fb-title {
        position: relative;
        font-family: 'Poppins';
        font-size: 6vw;
        color: #fff;
        font-weight: bold;
        top: 49vw;
        left: 15vw;
    }
    .secondbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 88vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
    .sb-title {
        position: relative;
        font-family: 'Poppins';
        font-size: 6vw;
        color: #fff;
        font-weight: bold;
        top: 83vw;
        left: 15vw;
    }
    .thirdbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 130vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
    .tb-title {
        position: relative;
        font-family: 'Poppins';
        font-size: 6vw;
        color: #fff;
        font-weight: bold;
        top: 115vw;
        left: 15vw;
    }
}