* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 180vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #727272;
        position: fixed;
        /*overflow: hidden;*/
    }
    .title {
        position: inherit;
        font-family: 'Poppins';
        font-size: 7vw;
        color: #fff;
        font-weight: bold;
        left: 4vw;
        top: 7vw;
    }
    #datetime{
        font-family: 'Poppins';
        color: #000;
        position: absolute;
        top: 20vw;
        left: 32vw;
        font-size: 6vw;
        font-weight: bold;
    }
}