* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 180vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #727272;
        position: fixed;
        /*overflow: hidden;*/
    }
    .title {
        font-family: 'Poppins';
        font-size: 7vw;
        color: #fff;
        font-weight: bold;
        margin-left: 4vw;
        margin-top: 7vw;
    }
    #datetime{
        font-family: 'Poppins';
        color: #000;
        position: absolute;
        top: 20vw;
        left: 32vw;
        font-size: 6vw;
        font-weight: bold;
    }
    .body {
        position: absolute;
        background-color: #8D8D8D;
        padding: 50vw 40vw;
        top: 40vw;
        left: 6.5vw;
        border-radius: 5vw;
        opacity: 1;
    }
}