* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 220vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #000 ;
        /*position: fixed;*/
        /*overflow: hidden;*/
    }
    .boxes {
        position: absolute;
    }
    .firstbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 30vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
    .secondbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 80vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
    .thirdbody{
        position: absolute;
        background-color: #8D8D8D;
        padding: 18vw 40vw;
        top: 130vw;
        left: 10vw;
        border-radius: 5vw;
        opacity: 1;
    }
}